.glowEffect {
  position: relative;
}

.glowEffect::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 2px;
  border-radius: 50%;
  background: #eaff00;
  background: radial-gradient(
    circle,
    rgba(234, 255, 0, 1) 36%,
    rgba(163, 181, 125, 1) 79%
  );
  width: 90%;
      margin: auto;
    left: 0;
    right: 0;

}

.glowEffect:hover{
  position: unset;
}